# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.map

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
!/dist/zarchive.exe
*.out
*.app

# Visual Studio Code
.vscode
*.code-workspace

# Wii U Debugging Tools
App Sender.jar
config.properties
*.lnk


# Project specific
/build
/dist/wiiu
/dist/isfshax_installer_loader.zip
/cemu
isfshax_installer_loader.wuhb
isfshax_installer_loader.rpx
isfshax_installer_loader.wua
isfshax_installer_loader.elf
